
body
{
  font-family: "Lucida Grande";
  background-image: url("front1.jpg") ;
  padding: 15px 0;
  background-size: 1550px 955px;
  z-index: 1;
  background-repeat: no-repeat;
}

span
{
  color: black;
}

h1
{
  padding-left: 50px; 
}